@model NewCoreCoffeeApp.Models.WebUser

<head>
    <style>
        div.cart {
            position: fixed;
            top: 80px;
            right: 70px;
            width: 700px;
            border: 1px solid #000000;
        }

        div.label {
            position: fixed;
            top: 55px;
            right: 70px;
            width: 700px;
            border: 1px solid #000000;
        }
    </style>
</head>

@{
    ViewData["Title"] = "Receipt";
    decimal totalCost = 0;
}

<h1>Receipt: Order No. 445</h1>

<form action="/Home/ThankYou2" method="post">
    <div class="hidden" id="otherOtherFieldDiv">
        <label for="otherOtherField">Delivery Address</label><br />
        <input type="text" id="address" name="Address" value="@ViewData["streetaddress"]" style="border-color: @ViewData["addresscolor"]" /><br /><br />
        <input id="submit" class="btn btn-dark" type="submit" value="Complete Order" />
    </div>
</form>



