@model NewCoreCoffeeApp.Models.WebUser

<head>
    <style>
        body {
            background-color: darkred;
        }
    </style>
</head>


<body></body>
    
@{
    ViewData["Title"] = "Receipt";
    decimal totalCost = 0;
}

<h1>Receipt: Order No. 445</h1>

<form action="/Home/ThankYou2" method="post">
    <div class="hidden" id="otherOtherFieldDiv">
        <label for="otherOtherField">Delivery Address</label><br />
        <input type="text" id="address" name="Address" value="@ViewData["streetaddress"]" style="border-color: @ViewData["addresscolor"]" /><br /><br />
        <input id="submit" class="btn btn-dark" type="submit" value="Complete Order" />
    </div>
</form>



