<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: darkred;
        }

        div.richter {
            position: fixed;
            top: 200px;
            right: 765px;
            width: 150px;
        }

        div.closing {
            position: fixed;
            top: 400px;
            right: 560px;
        }

        div.enter {
            position: fixed;
            top: 450px;
            right: 695px;
        }
    </style>
</head>


<body>
</body>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">What is a man?!</h2>
    <p style="color:white">Nothing but a miserable little pile of caffeine!</p><br /> <br />
</div>

<div class="closing">
    <h2 style="color:white"> Why not buy some from us?</h2>
</div>

<div class="enter"><a href="Home/Register" style="color:gold">ENTER IF YOU DARE!</a></div>

<div class="richter">
    <img src="./images/richter.png" />
</div><br />

