@model NewCoreCoffeeApp.Models.WebUser

    <!DOCTYPE html>

    <head>
        <style>
            div.cart {
                position: fixed;
                top: 225px;
                right: 150px;
                width: 700px;
                border: 1px solid #000000;
                background: border-box
            }

            div.label {
                position: fixed;
                top: 200px;
                right: 150px;
                width: 700px;
                border: 1px solid #000000;
                background: border-box
            }
            body {
                background-color: darkred;
            }
        </style>
    </head>

<body></body>

    @{
        ViewData["Title"] = "ThankYou2";
        decimal totalCost = 0.00m;
    }

    <h1><h1>Delivery Receipt: Order No. 445</h1></h1>

    <p>Thank you for your order new member!</p>

    <p>It will arrive to your address at @Model.StreetAddress</p>
    <p>Expect us in about 30 minutes!</p>

    <div class="cart">
        @{foreach (var coffee in WebUser.Cart)

            {
                <div>
                    @coffee
                    <hr />
                </div>
            }
        }

        @{ foreach (var coffee in WebUser.Cart)
            {
                totalCost += coffee.Price;
            }
        }

        Total Amount Owed: @totalCost
    </div>

